<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-light navbar-light">
        <a href="#" class="navbar-brand mx-auto">Noticias</a>
    </nav>
    <%=2+2 %>
    <%=noticias[0].titulo %>
</body>
</html>